{# Includable snippet to display tag and trait info about a tagged trait. #}
{% comment %}
  Usage: {% include 'tags/_taggedtrait_info.html' with show_all_tags=XXX collapse_tag_panel=XXX collapse_trait_panel=XXX%}
  Arguments:
    collapse_tag_panel: logical indicator if the tag information should be collapsed.
    collapse_trait_panel: logical indicator if the trait information panel should be collapsed.
{% endcomment %}

{% include 'tags/_tag_panel.html' with tag=tagged_trait.tag is_collapsed=collapse_tag_panel %}

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-trait">Study variable information</a>
      </h4>
    </div>
    <div id="collapse-trait" class="panel-collapse {% if collapse_trait_panel %}collapse{% else %}in{% endif %}">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Variable</dt><dd><a href='{{ tagged_trait.trait.get_absolute_url }}'>{{ tagged_trait.trait.i_trait_name }}</a></dd>
          <dt>Variable description</dt><dd>{{ tagged_trait.trait.i_description }}</dd>
          <dt>Dataset</dt><dd><a href="{{ tagged_trait.trait.source_dataset.get_absolute_url }}">{{ tagged_trait.trait.source_dataset.dataset_name }}</a></dd>
          <dt>Dataset description</dt><dd>{{ tagged_trait.trait.source_dataset.i_dbgap_description }}</dd>
          {# This "if" won't be executed if show_other_tags is unassigned in the context (None). #}
          {% if show_other_tags %} 
            <dt>All phenotype tags</dt>
              <dd>
                {# Show the tag at hand in blue. #}
                <div class="btn-group btn-group-xs">
                  <a href="{{ tagged_trait.tag.get_absolute_url }}" class="btn btn-info" role="button">
                    {{ tagged_trait.tag.title }}
                  </a>
                </div>
                {# Show other tags in white. #}
                {% for other_tag in other_tags %}
                  <div class="btn-group btn-group-xs">
                    <a href="{{ other_tag.get_absolute_url }}" class="btn btn-default" role="button">
                      {{ other_tag.title }}
                    </a>
                  </div>
                {% endfor %}
                {# Show archived tags in yellow. #}
                {% for archived_tag in archived_other_tags %}
                  <div class="btn-group btn-group-xs">
                    <a href="{{ archived_tag.get_absolute_url }}" class="btn btn-warning" role="button">
                      {{ archived_tag.title }}
                    </a>
                  </div>
                {% endfor %}
              </dd>
            <dt></dt><dd><p class="text-muted"><small>Some study variables have multiple tags applied to them.
              The tag for this tagged variable is highlighted in blue.
              Tags that have been archived for this variable are shown in red.
            </small></p></dd>
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
</div>
