{% extends '__list.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block head_title %}
  | Tagged phenotype variables that need followup
{% endblock head_title %}

{% block title %}
  Tagged variables that need followup
{% endblock title %}

{% block subtitle %}
   from <a href="{{ study.get_absolute_url }}">{{ study.i_study_name }}</a>
   tagged with <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
 {% endblock subtitle %}

{% block before_table %}

  <div class="well">
    Please review the "DCC Comment" in the table about why the DCC requests followup for each tagged variable.
    Click on the "Tag information" panel for more details about the tag.
    The variable description can be seen by mousing over the variable name.
    If you agree that it is improperly tagged, select the "Agree" button on the same row.
    If you think that it should remain tagged, select the "Disagree" button on that row.
    You will then be taken to a page to enter a reason why this variable should remain tagged.
  </div>

  {% include 'tags/_tag_panel.html' with tag=tag is_collapsed=False %}
{% endblock before_table %}

{% block table %}
  {% include '_messages.html' %}
  {% render_table tagged_trait_table %}
{% endblock table %}

{% block custom_javascript %}
  <script src="{% static 'js/popover.js' %}"></script>
{% endblock custom_javascript %}
