{% extends '__base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
  | Review a tagged phenotype
{% endblock head_title %}

{% block content %}

  {% include '_messages.html' %}

  <h2>
    Review <a href='{{ tagged_trait.get_absolute_url }}'>{{ tagged_trait }}</a>
  </h2>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Tag information</strong></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Tag name</dt><dd><a href="{{ tagged_trait.tag.get_absolute_url }}">{{ tagged_trait.tag.lower_title }}</a></dd>
        <dt>Tag description</dt><dd>{{ tagged_trait.tag.description }}</dd>
        <dt>Tag instructions</dt><dd>{{ tagged_trait.tag.instructions }}</dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Study variable information</strong></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Variable</dt><dd><a href='{{ tagged_trait.trait.get_absolute_url }}'>{{ tagged_trait.trait.i_trait_name }}</a></dd>
        <dt>Variable description</dt><dd>{{ tagged_trait.trait.i_description }}</dd>
        <dt>Dataset name</dt><dd>{{ tagged_trait.trait.source_dataset.dataset_name }}</dd>
        <dt>Dataset description</dt><dd>{{ tagged_trait.trait.source_dataset.i_dbgap_description }}</dd>
        <dt>All phenotype tags</dt>
          <dd>
            {% for tag in tagged_trait.trait.tag_set.all %}
              <div class="btn-group btn-group-xs">
                <a href="{{ tag.get_absolute_url }}"
                   class="btn btn-{% if tagged_trait.tag.pk == tag.pk%}info{% else %}default{% endif %}"
                   role="button">
                  {{ tag.title }}
                </a>
              </div>
            {% endfor %}
          </dd>
        <dt></dt><dd><p class="text-muted"><small>Some variables have multiple tags applied to them. The tag being reviewed here is highlighted in blue.</small></p></dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Instructions</strong></div>
    <div class="panel-body">
      If this variable is appropriately tagged, select the "Confirm" button. Otherwise,
      type a reason in the "Comment" box and select the "Require study followup"
      button.
    </div>
  </div>

  {% crispy form %}

{% endblock content %}
