{% extends '__object_detail.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
  | XXX
{% endblock head_title %}

{% block title %}
  <h1></h1>
{% endblock title %}


{% block content %}

  {% include '_messages.html' %}

  <h2>Review {{ tagged_trait }}</h2>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Trait info</strong></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Trait description</dt><dd>{{ tagged_trait.trait.i_trait_name }}</dd>
        <dt>Trait description</dt><dd>{{ tagged_trait.trait.i_description }}</dd>
        <dt>Dataset description</dt><dd>{{ tagged_trait.trait.source_dataset.i_dbgap_description }}
      </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Tag info</strong></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Tag description</dt><dd>{{ tagged_trait.tag.description }}</dd>
        <dt>Tag instructions</dt><dd>{{ tagged_trait.tag.instructions }}</dd>
      </dl>
    </div>
  </div>

  {% crispy form %}

{% endblock content %}
