{% extends '__list.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block head_title %}
  | Tagged phenotype variables that need followup
{% endblock head_title %}

{% block title %}
  Tagged variables that need followup
{% endblock title %}

{% block subtitle %}
   from <a href="{{ study.get_absolute_url }}">{{ study.i_study_name }}</a>
   tagged with <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
 {% endblock subtitle %}

{% block before_table %}
  {% include 'tags/_tag_panel.html' with tag=tag is_collapsed=False %}
{% endblock before_table %}

{% block table %}
  {% include '_messages.html' %}
  {% render_table tagged_trait_table %}
{% endblock table %}

{% block custom_javascript %}
  <script src="{% static 'js/popover.js' %}"></script>
{% endblock custom_javascript %}
