{% extends '__base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
  | Tagged trait review
{% endblock head_title %}

{% block content %}

  {% include '_messages.html' %}

  <h2>
    Review {{ tagged_trait }}
  </h2>
  <h3>Reviewing tag <a href="{{ tag.get_absolute_url }}">{{ tag.lower_title }}</a> and study <a href="study.get_absolute_url">{{ study.i_study_name }}</a></h3>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Trait info</strong></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Trait description</dt><dd>{{ tagged_trait.trait.i_trait_name }}</dd>
        <dt>Trait description</dt><dd>{{ tagged_trait.trait.i_description }}</dd>
        <dt>Dataset description</dt><dd>{{ tagged_trait.trait.source_dataset.i_dbgap_description }}
      </dl>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Tag info</strong></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Tag description</dt><dd>{{ tagged_trait.tag.description }}</dd>
        <dt>Tag instructions</dt><dd>{{ tagged_trait.tag.instructions }}</dd>
      </dl>
    </div>
  </div>

  {% crispy form %}

{% endblock content %}
