{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div>
    <h1>Help with phenotype tagging</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>How to tag phenotypes</h3>

            <div class="panel-group" id="how-to">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#how-to" href="#collapse1">
                            <span class="glyphicon glyphicon-info-sign"></span> From the "Tag phenotypes" form
                            </a>
                        </h4>
                    </div>
                <div id="collapse1" class="panel-collapse collapse in">
                      <div class="panel-body">
                      <ul>
                          <li>In the navbar, select "Tag phenotypes" from the "Phenotype tags" menu.</li>
                          <li>In the "Tag" field, you may either select a tag from the dropdown menu or start typing to autocomplete the tag by name.
                              When autocompleting, hit <kbd>return</kbd> to select the tag of your choice.</li>
                          <li>In the "Phenotype(s)" field, start typing the non-zero digits of the dbGaP variable accesssion (phv) for the phenotype variable you wish to tag.
                              Hit <kbd>return</kbd> to select the phenotype variable of your choice.
                              <p class="text-muted">e.g. for phv00000803.v1.p10 (variable "MF353" from Framingham Heart Study), start typing "803"</p>
                          </li>
                          <li>You may select multiple dbGaP variable for the "Phenotype(s)" field.
                              All of the selected variables will be labeled with the selected tag.</li>
                          <li>Click on the "Save" button to label the selected variable(s) with the selected tag.</li>
                      </ul>
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#how-to" href="#collapse2">
                            <span class="glyphicon glyphicon-info-sign"></span> From a tag's detail page
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                        <ul>
                            <li>On a tag's detail page, click the 'Tag phenotypes as "[tag name]"' button.
                                You will be taken to a form to select dbGaP phenotype variables to tag.</li>
                                <li>In the "Phenotype(s)" field, start typing the non-zero digits of the dbGaP variable accesssion (phv) for the phenotype variable you wish to tag.
                                    Hit <kbd>return</kbd> to select the phenotype variable of your choice.
                                    <p class="text-muted">e.g. for phv00000803.v1.p10 (variable "MF353" from Framingham Heart Study), start typing "803"</p>
                                </li>
                                <li>You may select multiple dbGaP variable for the "Phenotype(s)" field.
                                    All of the selected variables will be labeled with the selected tag.</li>
                                <li>Click on the "Save" button to label the selected variable(s) with the specified tag.</li>
                        </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#how-to" href="#collapse3">
                            <span class="glyphicon glyphicon-info-sign"></span> From a study phenotype's detail page
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                        <ul>
                            <li>On a study phenotype's detail page, click the "Tag this phenotype" button.
                            You will be taken to a form to select the tag with which to label this phenotype.</li>
                            <li>In the "Tag" field, you may either select a tag from the dropdown menu or start typing to autocomplete the tag by name.
                                When autocompleting, hit <kbd>return</kbd> to select the tag of your choice.</li>
                            <li>Click on the "Save" button to label the specified variable with the selected tag.</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Terminology</h3>
            <div class="panel-group" id="definitions">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#definitions" href="#definitions-collapse1">
                            Tag
                            </a>
                        </h4>
                    </div>
                    <div id="definitions-collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                        A tag is a label representing a phenotype concept. This is usually synonymous with a phenotype name.
                        Click on a tag's name to see its detail page, where you can read the detailed description of the phenotype
                        concept it represents and specific instructions for identifying dbGaP variables to apply the tag to.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#definitions" href="#definitions-collapse3">
                            Tagged phenotype
                            </a>
                        </h4>
                    </div>
                    <div id="definitions-collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                        A tagged phenotype is the association between a phenotype tag and a specific dbGaP variable (study phenotype).
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}