{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block head_title %}
    | Remove tag from phenotype
{% endblock %}

{% block content %}

    {% include '_messages.html' %}
    <h1>Remove a tag from a phenotype</h1>
    <h3>Are you sure you want to remove the tag <small>{{ tagged_trait.tag.title }}</small> from the phenotype <small>{{ tagged_trait.trait.i_trait_name }}</small>?</h3>
    
    <form action="{% url 'tags:tagged-traits:delete' pk=tagged_trait.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Yes, delete." />
        <a href="{% url 'trait_browser:source:studies:detail:tagged' pk=tagged_trait.trait.source_dataset.source_study_version.study.pk %}" class="btn btn-default" role="button">
        No, cancel.</a>
    </form>

{% endblock %}

{% block footer %}
{% endblock %}