{% extends '__list.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block head_title %}
  | Decisions for {{ tag }} and {{ study }}
{% endblock head_title %}

{% block title %}
  Final decisions
{% endblock title %}

{% block subtitle %}
  variables tagged with <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
  from <a href="{{ study.get_absolute_url }}">{{ study.i_study_name }}</a>
{% endblock subtitle %}

{% block before_table %}
  <div class="well">
    <p>
      Study representatives have responded to tagged variables that were flagged for removal during initial quality
      review by the DCC. If they agreed to remove the tag from the variable, the tagged variable was immediately
      archived. If they disagreed, they provided an explanation for why the tagged variable should remain, and these
      tagged variables are listed in the table below. You will need to provide a final decision on whether or not
      to keep the tagged variable on behalf of the DCC. Tagged variables are automatically archived after a decision
      to remove.
    </p>
  </div>
  {% include 'tags/_tag_panel.html' with tag=tag is_collapsed=False %}
{% endblock before_table %}

{% block table %}
  {% include '_messages.html' %}
  {% render_table tagged_trait_table %}
{% endblock table %}

{% block custom_javascript %}
  <script src="{% static 'js/popover.js' %}"></script>
{% endblock custom_javascript %}
