{% extends '__list.html' %}
{% load render_table from django_tables2 %}

{% block head_title %}
  | Tagged phenotypes by tag and study
{% endblock head_title %}

{% block title %}
  Variables tagged with <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
{% endblock title %}

{% block subtitle %}
  from <a href="{{ study.get_absolute_url }}">{{ study.i_study_name }}</a>
{% endblock subtitle %}

{% block table %}
  {% include '_messages.html' %}
  {% render_table tagged_trait_table %}
  {% if show_review_button %}
    <div class="control-group">
      <a class="btn btn-primary" href="{% url 'tags:tag:study:begin-dcc-review' tag.pk study.pk %}" role="button">Review tagged variables</a>
    </div>
  {% endif %}
{% endblock table %}
