{% extends '__object_detail.html' %}
{% load core_tags %}

{% block head_title %}
  | {{ tagged_trait }} details
{% endblock head_title %}

{% block title %}
  <a href="{{ tagged_trait.trait.get_absolute_url }}">{{ tagged_trait.trait.i_trait_name }}</a> tagged with
  <a href="{{ tagged_trait.tag.get_absolute_url }}">{{ tagged_trait.tag.title }}</a>
{% endblock title %}

{% block subtitle %}
  tagged variable details
{% endblock subtitle %}

{% block before_panel %}
  {% if is_deprecated %}
    {% if show_removed_text %}
      <div class="alert alert-danger" role="alert" id="removed_deprecated_trait">
        This tagged study variable has been removed from the most recent study version
      </div>
    {% elif new_version_link %}
      <div class="alert alert-danger" role="alert" id="updated_deprecated_trait">
        There is a <a class="alert-link" href="{{ new_version_link }}">newer version</a> of this tagged study variable available
      </div>
    {% endif %}
  {% endif %}
{% endblock before_panel %}

{% block detail_fields %}
  <dt>Tagged by</dt><dd>{{ tagged_trait.creator }}</dd>
{% endblock detail_fields %}


{% block after_panel %}

{% if show_quality_review_panel %}
    {% include 'tags/_taggedtrait_quality_review_panel.html' %}
{% endif %}

  {% include 'tags/_taggedtrait_info.html' %}

  {% if show_delete_button %}
    {% comment %}
      This use of the taggedtrait delete URL can't have ?next={{ request.path }} after it because
      once the tagged trait is deleted the detail page won't exist.
    {% endcomment %}
    <a class="btn btn-danger" href="{% url 'tags:tagged-traits:pk:delete' tagged_trait.pk %}?next={{ request.path }}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove tagged variable
    </a>
  {% endif %}
{% endblock after_panel %}
