{% extends '__base.html' %}
{% load render_table from django_tables2 %}

{% block head_title %}
| Make final decisions
{% endblock head_title %}

{% block content %}
  {% include '_messages.html' %}

  <h2>Make final decisions on tagged variables flagged for removal</h2>

  <div class="well">
    <p>
      Study representatives have responded to tagged variables that were flagged for removal during initial quality
      review by the DCC. If they agreed to remove the tag from the variable, the tagged variable was immediately
      archived. If they disagreed, they provided an explanation for why the tagged variable should remain, and these
      tagged variables are summarized in the table below. You will need to provide a final decision on whether or not
      to keep the tagged variable on behalf of the DCC.
    </p>
    <p>
      Click on the "Make final decisions" button to begin a loop making the final decisions remaining for each of the
      tagged variables for the given tag and study combination. Click on the "View all" button to view a table of the
      tagged variables for each tag and study combination and their quality review status.
    </p>
  </div>

  {% for study_data in grouped_study_tag_counts %}

    <h3>{{ study_data.0.study_name }}</h3>

    <div class="panel panel-default">
      <div class="table-responsive">
        <table class='table table-bordered table-striped table-hover'>
          <thead>
            <tr>
              <th>Tag</th>
              <th>Number requiring decision</th>
              <th>Decisions outstanding</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for tag_data in study_data.1 %}
            <tr>
              <td><a href="{% url 'tags:tag:detail' tag_data.tag_pk %}">{{ tag_data.tag_name }}</a></td>
              <td>{{ tag_data.tt_total }}</td>
              <td>{{ tag_data.tt_decision_required_count }}</td>
              <td>
              {% if tag_data.tt_decision_required_count > 0 %}
                <a class="btn btn-xs btn-primary"
                   href="{% url 'tags:tag:study:begin-dcc-decision' tag_data.tag_pk study_data.0.study_pk %}"
                   role="button">Make final decisions</a>
              {% endif %}
              <a class="btn btn-xs btn-info"
                 href="{% url 'tags:tag:study:need-decision' tag_data.tag_pk study_data.0.study_pk %}"
                 role="button">View all</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  {% endfor %}

{% endblock content %}
