{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}

{% block head_title %}
    | {{ form.title }}
{% endblock %}

{% block content %}
    <h1>
        {{ form.title }}
        {% if tag %}
            as {{ tag.title }}
        {% elif trait %}
            {{ trait.i_trait_name }}
        {% endif %}
    </h1>
    
    {% include '_messages.html' %}
    {% crispy form %}
{% endblock %}

{% block footer %}
    <!-- script for django-autocomplete-light -->
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}

{% endblock %}