{% extends '__base.html' %}

{% block head_title %}
| Tagged by tag
{% endblock head_title %}

{% block content %}
  {% include '_messages.html' %}

<h2>Tagged variables by tag</h2>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class='table table-bordered table-striped table-hover'>
      <tr>
        <th class='text-right'>Tag</th>
        <th class='text-left'>Variable count by study</th>
      </tr>
      {% for row in annotated_tags %}
        <tr>
          <td class='text-right'>
            <a href="{{ row.0.get_absolute_url }}">{{ row.0.title }}</a>
            
          </td>
          <td class='text-left'>
            {% for study_tuple in row.1 %}
              <a href="{{ study_tuple.0.get_absolute_url }}" class="btn btn-default btn-xs" role="button">
              {{ study_tuple.0.i_study_name }}
              <span class="badge">{{ study_tuple.1 }}</span></a>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
