Django==1.11.22
coverage
django-authtools
django-autocomplete-light
django-braces
django-crispy-forms
django-dbbackup
django-debug-toolbar==1.9.1
django-extensions
django-maintenance-mode
django-tables2
django-watson
docutils
factory-boy
flake8
flake8-docstrings
mysql-connector-python-rf
mysqlclient==1.3.12
pygraphviz==1.3.1
pytz
selenium
pip-tools
