*.DS_Store
*.pyc
__pycache__
*.sqlite3
._*
.secrets.json
.coverage
htmlcov/*
.*.cnf
tmp*
selenium_tests/chromedriver
selenium_tests/*.jar
*/.nfs*
phenotype_inventory/settings/maintenance_mode_state.txt

