{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<p>Please specify your email address to receive instructions for resetting it.</p>

<form action="" method="post" class="form-horizontal">
  {% csrf_token %}

  <div class="form-group">
    {{ form.email.errors }}
    <label for="id_email" class="col-sm-2 control-label">{{ form.email.label_tag }}</label>
    <div class="col-sm-5">
      <input type="text" name="email" id="id_email" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-primary">Reset password</button>
      <input type="hidden" name="next" value="{{ next }}">
    </div>
  </div>
</form>
{% endblock %}