body { 
    padding-top: 65px; 
}

/* class that makes the table width but determined by cell contents */
.table-nonfluid {
   width: auto;
}


/* two line nav-bar */
@media (min-width: 768px) { 
    .twoRow .navbar-collapse {
        clear: left;
    }
}

.text-disabled {
  color: #aaaaaa;
}

/* home page glyphicons */
.glyphicon-home {
    font-size: 150px;
    opacity: 0.4;
}

.glyphicon-disabled {
    color: gray;
}

.glyphicon-disabled:hover {
    opacity: 0.4;
}

.jumbotron {
    text-align: center;
    background: white;
}

.source-color {
    color: #1b9e77;
}

.request-color {
    color: #d95f02;
}

.harmonized-color {
    color: #7570b3;
}

/* over-image ribbons */
.ribbon {
  background-color: #444;
  overflow: hidden;
  white-space: nowrap;
}
.ribbon {
  position: absolute;
  left: 50%;
  top: 50px;
  z-index: 1; /* place on top of other divs */
  transform: translate(-50%, 0%);
  color: #fff;
  display: block;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

/* Show custom glyphicons for sorting direction in django-tables2 */
.table-container th.asc:after {
    font-family: 'Glyphicons Halflings';
    content: '\e113';
    float: right;
}

.table-container th.desc:after {
    font-family: 'Glyphicons Halflings';
    content: '\e114';
    float: right;
}


/* navbar beta corner ribbon */
/*
 * Source: http://codepen.io/eode9/pen/twkKm
 */

/* The ribbons */

.corner-ribbon {
  width: 200px;
  opacity: 0.9;
  background: #f0ad4e;
  position: fixed;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f0f0f0;
  z-index: 9999;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky {
  position: fixed;
}

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left {
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left {
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right {
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* This is a fix to keep the navbar from covering up body content */
/* See this SO answer http://stackoverflow.com/a/11124805/2548371 */
body { padding-top: 100px; }
@media screen and (max-width: 768px) {
    body { padding-top: 120px; }
}

/* Add padding above the sticky footer. */
body { padding-bottom: 100px; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  /* Set the background to the gradient used in navbar-inverse */
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  color: #E5E5E5;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

/* Set link color in the footer */
.footer a {
    /*color: #a0a0a0;*/
    color: #E5E5E5;
}