{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block head_title %}
     | Search {{trait_type}} traits
{% endblock %}

{% block content %}
    <h1>Search source traits</h1>
        {% crispy form %}
    
    <!-- Embed the New Search button inside of a form and some divs just like
    the crispy form uses, so that the buttons are aligned. -->
    <form class="form-horizontal">
        <div class="form-group">
            <div class="aab controls col-sm-2">
                
            </div>
            <div class="controls col-sm-10">
                <a href="{% url 'trait_browser_source_trait_search' %}" class="btn btn-default" role="button">
                    New Search</a>
            </div>
        </div>
    </form>

    <hr>


    {% if results %}
        <div class="alert alert-info" role="alert">
            <strong><font size="4">{{ trait_table.rows|length }} trait{{ trait_table.rows|length|pluralize }} found</font></strong>
        </div>
        
        {% render_table trait_table %}
    {% endif %}

{% endblock %}