{% extends 'base.html' %}

{% block head_title %}
     | {{ source_trait.name }} details
{% endblock %}

{% block content %}
    <h2>Source Trait Data Information</h2>
    <p><strong>See this trait at dbGaP:</strong> <a target="_blank" href="{{ source_trait.get_dbgap_link }}">{{source_trait.phv_string}}</a></p>

    {% for pair in source_trait.detail_iter %}
        <p><strong>{{ pair.0 }}</strong> : {{ pair.1 }}</p>
    {% endfor %}
    
    {% if source_trait.sourceencodedvalue_set.all %}
        <h3>Encoded Values</h3>
        <table class="table table-nonfluid table-condensed table-sm table-striped table-bordered">
            <tr>
                <th>Category</th>
                <th>Value</th>
            </tr>
            {% for ev in source_trait.sourceencodedvalue_set.all %}
                <tr>
                    <td>{{ ev.category }}</td>
                    <td>{{ ev.value }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}