{% extends '__object_detail.html' %}
{% load staticfiles %}
{% load core_tags %}

{% block head_title %}
     | {{ harmonized_trait_set_version.get_trait_names|join:", " }} details
{% endblock head_title %}

{% block title %}
    {{ harmonized_trait_set_version.get_trait_names|join:", " }}
{% endblock title %}

{% block subtitle %}
    harmonized variable details
{% endblock subtitle %}

{% block details %}
    {% for trait in harmonized_trait_set_version.harmonizedtrait_set.all %}
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">{{ trait.trait_flavor_name }}</h4></div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Description</dt><dd>{{ trait.i_description }}</dd>
                    <dt>Data type</dt><dd>{{ trait.i_data_type }}</dd>
                    <dt>Unit</dt><dd>{{ trait.i_unit }}</dd>
                </dl>
            </div>
            {# Encoded values table #}
            {% if trait.harmonizedtraitencodedvalue_set.all %}
                {% include 'trait_browser/_encoded_values_table.html' with ev_set=trait.harmonizedtraitencodedvalue_set.all inner=True %}
            {% endif %}
        </div>
    {% endfor %}
    {# Component variable information #}
    <hr>
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#components">Component variables</button>
    <div id="components" class="collapse">
        {% render_as_template harmonized_trait_set_version.component_html_detail|safe %}
    </div>
    {# Documentation #}
    <h4>Documentation</h4>
    <p>Coming soon...</p>
{% endblock details %}

{% block custom_javascript %}
    <script src="{% static 'js/popover.js' %}"></script>
{% endblock custom_javascript %}
