{% extends '__base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}

{% block head_title %}
  | Look up a dbGaP accessioned object
{% endblock head_title %}


{% block content %}
  <h1>Look up a {{ object_type}}</h1>

  {% crispy form %}

{% endblock content %}

{% block custom_javascript %}
  {# script for django-autocomplete-light #}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
{% endblock custom_javascript %}
