{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block head_title %}
     | Search {{ trait_type }} traits
{% endblock %}

{% block content %}
    <h1>Search {{ trait_type }} phenotypes</h1>
        {% crispy form %}
    
    <!-- Embed the New Search button inside of a form and some divs just like
    the crispy form uses, so that the buttons are aligned. -->
    <form class="form-horizontal">
        <div class="form-group">
            <div class="aab controls col-sm-2">
                
            </div>
            <div class="controls col-sm-10">
                {% if trait_type == 'source' %}
                    <a href="{% url 'trait_browser:source:search' %}" class="btn btn-default" role="button">New Search</a>
                {% elif trait_type == 'harmonized' %}
                    <a href="{% url 'trait_browser:harmonized:search' %}" class="btn btn-default" role="button">New Search</a>
                {% endif %}
            </div>
        </div>
    </form>

    <hr>


    {% if results %}
        {% if trait_type == 'source' %}
            {% if alreadySaved %}
            <button id="save-search-btn" type="button" class="btn btn-info" disabled="True">Previously Saved</button>
            {% else %}
            <button id="save-search-btn" type="button" class="btn btn-info">Save Search</button>
            {% endif %}
        {% endif %}
        <div class="alert alert-info" role="alert">
            <strong><font size="4">{{ trait_table.rows|length }} phenotype{{ trait_table.rows|length|pluralize }} found</font></strong>
        </div>
        
        {% render_table trait_table %}
    {% endif %}

{% endblock %}

{% block custom_javascript %}
<script src="{% static 'js/search_form.js' %}"></script>
{% endblock %}
