{% extends '__object_detail.html' %}
{% load core_tags %}
{% load staticfiles %}

{% block head_title %}
  | {{ source_trait.i_trait_name }} details
{% endblock head_title %}

{% block title %}
  {{ source_trait.i_trait_name }}
{% endblock title %}

{% block subtitle %}
  study variable details
{% endblock subtitle %}

{% block detail_fields %}
  <dt>Description</dt> <dd>{{ source_trait.i_description }}</dd>
  <dt>Data type</dt> <dd>{{ source_trait.i_detected_type }}</dd>
  <dt>Dataset</dt> <dd><a href="{{ source_trait.source_dataset.get_absolute_url }}">{{ source_trait.source_dataset.dataset_name }}</a></dd>
  <dt>Dataset description</dt>
    <dd>
      {% if source_trait.source_dataset.i_dbgap_description != '' %}
        {{ source_trait.source_dataset.i_dbgap_description }}
      {% else %}
        &mdash;
      {% endif %}
    </dd>
    <dt>Study</dt> <dd><a href="{{ source_trait.source_dataset.source_study_version.study.get_absolute_url }}">{{ source_trait.source_dataset.source_study_version.study.i_study_name }}</a></dd>
  <dt>Phenotype tag(s)</dt>
    <dd>
      {% if tagged_traits_with_xs|length > 0 %}
        {% for tagged_trait, show_delete in tagged_traits_with_xs %}
          <div class="btn-group btn-group-xs">
            <a href="{{ tagged_trait.tag.get_absolute_url }}" class="btn btn-default" role="button">{{ tagged_trait.tag.title }}</a>
            {% if show_delete %}
                  <a href="{% url 'tags:tagged-traits:pk:delete' tagged_trait.pk %}" class="btn btn-default"
                  data-toggle="tooltip" data-placement="auto right" title="Remove {{ tagged_trait.tag.title }} tag" role="button">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></a>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        &mdash;
      {% endif %}
    </dd>
    {% if show_tag_button %}
      {# End the table of detail fields #}
      </dl>
      {# Start a new table #}
      <dl class="dl-horizontal">
        <dt></dt>
        <dd>
          <a href="{% url 'trait_browser:source:traits:tagging' pk=source_trait.pk %}" class="btn btn-primary btn-md" role="button">
            Tag this variable</a>
        </dd>
    {% endif %}
{% endblock detail_fields %}

{% block after_panel %}
  {% if source_trait.sourcetraitencodedvalue_set.all %}
    {% include 'trait_browser/_encoded_values_table.html' with ev_set=source_trait.sourcetraitencodedvalue_set.all %}
  {% endif %}
  {% include 'trait_browser/_dbgap_link_panel.html' with variable_string=source_trait.full_accession variable_link=source_trait.dbgap_link dataset_string=source_trait.source_dataset.full_accession dataset_link=source_trait.source_dataset.dbgap_link study_string=source_trait.source_dataset.source_study_version.full_accession study_link=source_trait.source_dataset.source_study_version.dbgap_link %}
{% endblock after_panel %}

{% block custom_javascript %}
  <script src="{% static 'js/tooltip.js' %}"></script>
{% endblock custom_javascript %}
