{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block head_title %}
     | Study phenotypes
{% endblock %}

{% block content %}
    <table border="0" align="right">
        <tr>
        <td style="padding:4px">
            <a class="btn btn-primary pull-right btn-lg" href="{% url 'trait_browser:source:traits:search' %}" role="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                </span> Search study phenotypes
            </a>
        </td>
        </tr>
        
        <tr>
        <td style="padding:4px">
        <button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-info pull-right">Help with tables</button>
            <div id="demo" class="collapse">
            
            <ul>
                <li>Click on column names with arrows to change the sort order of the table.</li>
                <li>Click on a phenotype's name to go to the phenotype's detailed information page.</li>
                <li>Click on dbGaP Study or Variable links to view detailed information at dbGaP.</li>
            </ul>
            </div>
        </td>
        </tr>
    </table>

    <h2>Study phenotypes currently available</h2>
    {% render_table source_trait_table %}
{% endblock %}