{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block head_title %}
     | {{ page_title }}
{% endblock %}

{% block content %}
    <button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-info">Help with tables</button>
        <div id="demo" class="collapse">
        
        <ul>
            <li>Click on a study's name to go to the table displaying all of the study's available source phenotypes.</li>
            <li>Click on dbGaP Accession links to view detailed information about the study at dbGaP.</li>
        </ul>
        </div>
    <h2>{{ table_title }}</h2>
    {% render_table study_table %}
{% endblock %}