{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block head_title %}
     | Search {{ study.i_study_name }}
{% endblock %}


{% block content %}
    <h2>
      {{ study.i_study_name }} <small>Search dbGaP phenotype variables</small>
    </h2>
    {% include 'trait_browser/_search_help.html' %}

    {% crispy form %}

    {% include '_messages.html' %}

    {% if has_results %}
        {% render_table results_table %}
    {% endif %}

{% endblock %}
