{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block head_title %}
     | {{ page_title }}
{% endblock %}

{% block content %}
    {% if trait_type == 'source' %}
    <a href={% url 'trait_browser:source:search' %}>Search within {% if study_pk %} this study {% else %} all studies {% endif %}</a>
    {% endif %}
    <button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-info">Help with tables</button>
        <div id="demo" class="collapse">
        
        <ul>
            <li>Click on column names with arrows to change the sort order of the table.</li>
            <li>Click on a phenotype's name to go to the phenotype's detailed information page.</li>
            <li>Click on dbGaP Study or Variable links to view detailed information at dbGaP.</li>
        </ul>
        </div>
    <h2>{{ table_title }}</h2>
    {% render_table trait_table %}
{% endblock %}