{% load staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        {# Bootstrap core CSS #}
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        {# Our custom stylesheet #}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>
            topmedphenotypes.org{% block head_title %} {% endblock head_title %}
        </title>
    </head>
    <body>
        <div class="container">
            {% block minimal_navbar %}
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url "home" %}">{{ site.name }}</a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_anonymous %}
                                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                {% else %}
                                    {# User dropdown #}
                                    {# Show link to admin interface for staff users. #}
                                    {% if request.user.is_staff %}
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ user.name }} <span class="caret"></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-dashboard"></span> PIE Administration</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock minimal_navbar%}
            {% block content %}
                <div class="jumbotron">
                  <h2>NHLBI TOPMed</h2>
                  <h1>Phenotype Inventory Explorer</h1>
                  <p>
                      <span class="glyphicon glyphicon-wrench" style="font-size:150px; padding:30px"></span>
                      <span class="glyphicon glyphicon-cog" style="font-size:150px; padding:30px"></span>
                  </p>
                  <p><strong>PIE</strong> is currently down for maintenance. We'll be back shortly.</p>
                </div>
            {% endblock content %}
        </div>
    {% include 'footer_navbar.html' %}
    {# Bootstrap core JavaScript #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    {% block custom_javascript %}
    {% endblock custom_javascript %}
    {% block footer %}
    {% endblock footer %}
    </body>
</html>
