{% extends '__base.html' %}

{% block content %}
<h1>About</h1>
<div class="well">
    <h2>TOPMed</h2>
    <p>TOPMed is the Trans-Omics for Precision Medicine project, sponsored by the
    National Heart, Lung, and Blood Institute (NHLBI). TOPMed's whole genome
    sequencing project, started in 2014, will integrate rich phenotype data with
    whole genome sequences for tens of thousands of subjects to further characterize
    the genetic architecture of heart, lung, blood, and sleep disorders.</p>
</div>

<div class="well">
    <h2>The TOPMed Data Coordinating Center (DCC)</h2>
    <p>The Data Coordinating Center is based in the Biostatistics Department at the
    University of Washington and is led by Ken Rice (contact PI), Bruce Weir (co-PI),
    Bruce Psaty (co-PI) and Cathy Laurie.</p>

    <p>The DCC provides administrative and logistical support, organizes
    phenotype Working Groups, coordinates genome sequencing centers, and
    develops guidelines and methodology for genetic analyses.</p>
</div>

<div class="well">
    <h2>TOPMed Phenotype Harmonization</h2>
    <p>Harmonization of the source phenotype data is being completed at the
    TOPMed DCC.</p>
</div>

{% endblock content %}
