{% load staticfiles %}


<footer class="footer">
  <div class="container">
    <div class="col-sm-2">
      <a href="http://www.nhlbiwgs.org">
        <img height="100px" style="margin:20px 0px" src="{% static "topmed_logo/topmed_logo_short_white_rectangle.svg" %}" alt="topmed_logo_white_rectangle">
      </a>
    </div>

    <div class="col-sm-6" style="margin-top:25px">
      <p>&copy; 2016 <a href="http://www.biostat.washington.edu">University of Washington Department of Biostatistics</a>
      <br> <a href="http://www.washington.edu">University of Washington</a>, Seattle, WA
      <br> <a href="http://www.washington.edu/online/terms">Terms</a> | <a href="http://www.washington.edu/online/privacy">Privacy</a>
      </p>
    </div>

    <div class="col-sm-4" style="margin-top:25px">
      <li><a href="{% url "about" %}">About</a></li>
      <li><a href="{% url "contact" %}">Contact</a></li>
    </div>

  </div>
</footer>

