{% extends 'base.html' %}

{% block content %}
<!-- TO DO: remove body top padding only for the home page, is that possible?? -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>NHLBI TOPMed Phenotype Inventory</h1>
    <p>Some text!</p>
  </div>
</div>
<hr>
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 text-center">
      <span class="glyphicon glyphicon-arrow-down glyphicon-home blue" aria-hidden="true"></span>
      <h2>Study source traits</h2>
      <p>We collected these traits from dbGaP. </p>
      <p><a class="btn btn-default" href="#" role="button">Browse source traits &raquo;</a></p>
    </div>

    <div class="col-md-4 text-center">
      <span class="glyphicon glyphicon-arrow-up glyphicon-home red" aria-hidden="true"></span>
      <h2>TOPMed harmonized traits</h2>
      <p>We harmonized these traits. </p>
      <p><a class="btn btn-default" href="#" role="button">Browse harmonized traits &raquo;</a></p>
    </div>

    <div class="col-md-4 text-center">
      <span class="glyphicon glyphicon-edit glyphicon-home green" aria-hidden="true"></span>
      <h2>Harmonization request</h2>
      <p>You too can submit a request!</p>
      <p><a class="btn btn-default" href="#" role="button">Submit a request &raquo;</a></p>
    </div>

  </div>

{% endblock %}