{% extends 'base.html' %}

{% block content %}
<!-- TO DO: remove body top padding only for the home page, is that possible?? -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>TOPMed Phenotype Inventory</h1>
    <p>Some text!</p>
  </div>
</div>

   <div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <span class="glyphicon glyphicon-arrow-down glyphicon-large" aria-hidden="true"></span>
      <h2>Source traits</h2>
      <p>We collected these traits from dbGaP. </p>
      <p><a class="btn btn-default" href="#" role="button">Browse source traits &raquo;</a></p>
    </div>

    <div class="col-md-4">
      <span class="glyphicon glyphicon-arrow-up glyphicon-large" aria-hidden="true"></span>
      <h2>Harmonized traits</h2>
      <p>We harmonized these traits. </p>
      <p><a class="btn btn-default" href="#" role="button">Browse source traits &raquo;</a></p>
    </div>

    <div class="col-md-4">
      <span class="glyphicon glyphicon-edit glyphicon-large" aria-hidden="true"></span>
      <h2>Harmonization request</h2>
      <p>You too can submit a request!</p>
      <p><a class="btn btn-default" href="#" role="button">Browse source traits &raquo;</a></p>
    </div>
  </div>

{% endblock %}