{% extends '__base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}

{% block head_title %}
  {% if object is not None %}
    | Edit {{ form.get_model_name|title }}   
  {% else %}
    | New {{ form.get_model_name|title }}
  {% endif %}
{% endblock head_title %}

{% block content %}
  <h1>
    {% if object is not None %}
      Edit {{ form.get_model_name|title }}   
    {% else %}
      New {{ form.get_model_name|title }}
    {% endif %}    
  </h1>
  
  {% include '_messages.html' %}
  
  {% crispy form %}

{% endblock content %}

{% block custom_javascript %}
  {# django-autocomplete-light script #}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
{% endblock custom_javascript %}